{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dS | Productos
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'productos/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    {% include 'core/components/encabezado.html' with titulo_texto="Productos" %}
{% endblock titulo %}

{% block main %}
<section class="categorias-container">
    {% regroup object_list by categoria.nombre as categorias_productos %}

    {% for categoria in categorias_productos %}
        {% with categoria.grouper as nombre_categoria %}
            {% for cat in categorias %}
                {% if cat.nombre == nombre_categoria and cat.estado %} 
                    <div class="card">           
                        <h1 class="categoria-titulo">{{ nombre_categoria }}</h1>  
                        <hr class="categoria-hr">
                        {% for producto in categoria.list %}
                            <div class="productos">
                                <p class="producto-nombre">{{ producto.nombre }}</p>
                                <p class="producto-precio">${{ producto.precio_unit }}</p>
                                <div class="producto-opc">
                                    <a href="{% url 'productos:productos_detail' producto.id %}">
                                        <img class="icono-opc" src="{% static 'productos/img/lupa.webp' %}" alt="Detalle Producto">
                                    </a>
                                    <a href="{% url 'productos:productos_update' producto.id %}">
                                        <img class="icono-opc" src="{% static 'productos/img/editar.webp' %}" alt="Editar Producto">
                                    </a>
                                </div>
                            </div>     
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endwith %}
    {% endfor %}
    
    <div class="card">           
        <h1 class="categoria-titulo">Formas de entrega</h1>
        <hr class="categoria-hr">
        {% for entrega in forma_entrega %}
            <div class="productos">
                <p class="producto-nombre">{{ entrega.forma_entrega }}</p>
                {% if entrega.precio != None %}
                    <p class="producto-precio">${{ entrega.precio }}</p>
                {% endif %}
                <div class="producto-opc">
                    <a href="{% url 'pedido:formaentrega_update' entrega.id %}">
                        <img class="icono-opc" src="{% static 'productos/img/editar.webp' %}" alt="Editar Producto">
                    </a>
                </div>
            </div>    
        {% endfor %}
    </div>      
</section>

{% endblock main %}

