{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dS | Categorias
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'productos/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    {% include 'core/components/encabezado.html' with titulo_texto="Categorias" %}
{% endblock titulo %}

{% block main %}
    <div class="categorias-container card">
        {% for categoria in categorias %}
            <div class="productos">
                <h1 class="categoria-titulo">{{ categoria }}</h1>
                <div class="producto-opc">
                    <a href="{% url 'productos:categorias_update' categoria.id%}"><img class="icono-opc" src="{% static 'productos/img/editar.webp' %}" alt="Editar Producto"></a>
                </div>
            </div>     
        {% endfor %}
    </div>
{% endblock main %}