{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    {% if form.instance.pk %}
        dS | Modificar Categoria   
    {% else %}
        dS | Crear Categoria
    {% endif %} 
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'productos/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    {% if form.instance.pk %}
        {% include 'core/components/encabezado.html' with titulo_texto="Modificar Categoria" %}
    {% else %}
        {% include 'core/components/encabezado.html' with titulo_texto="Crear Categoria" %}        
    {% endif %}  
{% endblock titulo %}

{% block main %}
    <section class="form-container">
        <form class="card" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <div class="btn-container">
                <button class="btn-success" type="submit">Guardar</button>
                <a class="btn-delete" href="{% url 'productos:categorias' %}">Cancelar</a>
            </div> 
        </form>
    </section>
{% endblock main %}