{% load static %}

<form class="select-datos-container" method="post" id="form-datos" class="carro-datos" action="{% url 'carro:cargar_datos' %}">
        <h3 class="carro-titulo">Datos</h3>
        {% csrf_token %}
        {% for key, value in request.session.carro.items %}
            {% if key == "datos" %}       
                <select class="selects" name="estado" onchange="this.form.submit()">
                    <option value="pendiente" {% if value.estado == "pendiente" %}selected{% endif %}>PENDIENTE</option>
                    <option value="entregado" {% if value.estado == "entregado" %}selected{% endif %}>ENTREGADO</option>
                    <option value="cancelado" {% if value.estado == "cancelado" %}selected{% endif %}>CANCELADO</option>
                    <option value="reservado" {% if value.estado == "reservado" %}selected{% endif %}>RESERVAR</option>
                </select>
                <select class="selects" name="pago" onchange="this.form.submit()">
                    <option value="cobrar" {% if value.pago == "cobrar" %}selected{% endif %}>COBRAR</option>
                    <option value="efectivo" {% if value.pago == "efectivo" %}selected{% endif %}>EFECTIVO</option>
                    <option value="mercado" {% if value.pago == "mercado" %}selected{% endif %}>MERCADO PAGO</option>
                    <option value="naranja" {% if value.pago == "naranja" %}selected{% endif %}>NARANJA</option>
                </select> 
                <select class="selects" name="forma_entrega" onchange="this.form.submit()">
                    {% for entrega in forma_entrega %}
                        <option value="{{entrega.id}}" {% if value.forma_entrega == entrega.forma_entrega %}selected{% endif %}>{{entrega.forma_entrega|upper}}</option>
                    {% endfor %}
                </select>
                
                {% if value.envio == True %} 
                    <input class="selects" type="text" {% if value.direccion == "" %}placeholder="Dirección..."{% else %}value="{{ value.direccion }}"{% endif %} name="direccion">
                {% endif %}

                <input class="selects" type="text" {% if value.nombre == "" %}placeholder="Nombre..."{% else %}value="{{ value.nombre }}"{% endif %} name="nombre">    
                <input class="selects" type="text" {% if value.observacion == "" %}placeholder="Observación..."{% else %}value="{{ value.observacion }}"{% endif %} name="observacion">           
        
            {% endif %}
        {% endfor %}
</form>
  
<script src="{% static 'carro/js/carro_enter.js' %}"></script>
    



              



