{% if request.session.carro.datos.total > 0.0  and request.session.carro|length > 2 %}
    <div class="carro-widget-detalle">
        {% for key, value in request.session.carro.items %}
            {% if key != 'datos' and value.precio_doc != "None" and value.cantidad > 0.0 %}
                {% if key == "empanadas" %}
                    <div class="widget-producto">
                        <p class="widget-prod-nombre">Empanadas</p>
                        <p class="widget-prod-mod"></p>
                        <div class="widget-prod-cant">{{value.cantidad|stringformat:"0.f"}}</div>
                        <p class="widget-prod-mod"></p>
                        <p class="widget-prod-subt">${{value.subtotal_emp}}</p>
                        <p class="widget-prod-elim"></p>
                    </div>
                    <hr>
                {% else %}
                    <div class="widget-producto">
                        {% if value.precio_doc != "None" %}
                                <p class="widget-prod-nombre">{{value.nombre}}</p>
                                <a class="widget-prod-mod" href="{% url 'carro:restar' value.producto_id %}">-</a>
                                <form method="post" action="{% url 'carro:actualizar_cantidad' value.producto_id %}">
                                    {% csrf_token %}
                                    <div class="widget-prod-cant">
                                        <input class="widget-input" type="hidden" name="producto_id" value="{{ value.producto_id }}">
                                        <input class="widget-input" type="number" name="cantidad" value="{{ value.cantidad|stringformat:"0.f" }}" min="1">
                                    </div>
                                </form>
                                <a class="widget-prod-mod" href="{% url 'carro:agregar' value.producto_id %}">+</a>
                                <p class="widget-prod-subt"></p>
                                <a class="widget-prod-elim" href="{% url 'carro:eliminar' value.producto_id %}">x</a>                       
                        {% endif %} 
                    </div> 
                    <hr>    
                {% endif %}            
            {% endif %} 
        {% endfor %}

        {% for key, value in request.session.carro.items %}
            {% if key != 'datos' and key != 'empanadas'%}
                {% if value.precio_doc == "None" %}
                    <div class="widget-producto">
                        <p class="widget-prod-nombre">{{ value.nombre }}</p>
                        <a class="widget-prod-mod" href="{% url 'carro:restar' value.producto_id %}">-</a>
                        <form method="post" action="{% url 'carro:actualizar_cantidad' value.producto_id %}">
                            {% csrf_token %}
                            <div class="widget-prod-cant">                             
                                {% if value.precio_media != "None" and value.precio_doc == "None" %}
                                    <input class="widget-input" type="number" name="cantidad" value="{{ value.cantidad|stringformat:"0.1f" }}" min="0.5" step="0.5">
                                {% else %}
                                    <input class="widget-input" type="number" name="cantidad" value="{{ value.cantidad|stringformat:"0.f" }}" min="1">
                                {% endif %}
                            </div>
                        </form>
                        <a class="widget-prod-mod" href="{% url 'carro:agregar' value.producto_id %}">+</a>
                        <p class="widget-prod-subt">${{ value.subtotal }}</p>
                        <a class="widget-prod-elim" href="{% url 'carro:eliminar' value.producto_id %}">x</a>
                    </div>
                    <hr>
                {% endif %}
            {% endif %}
        {% endfor %}
          
    </div>
    
    <div class="widget-envios">
        {% for key, value in request.session.carro.items %}
        {% if key == "datos" %}
            <div class="widget-producto">
                {% if value.precio_entrega != None and value.precio_entrega != 0.0 %}
                    <p class="widget-prod-nombre">{{value.forma_entrega}}</p>
                    <p class="widget-prod-mod"></p>
                    <div class="widget-prod-cant"></div>
                    <p class="widget-prod-mod"></p>
                    <p class="widget-prod-subt">${{value.precio_entrega}}</p>
                    <p class="widget-prod-elim"></p>
                {% endif %}
            </div>
        {% endif %} 
    {% endfor %}
    </div>
    

    {% if request.session.carro.datos.total %}
        <h3 class="total">Total: ${{ request.session.carro.datos.total }}</h3>
    {% endif %}
    

{% else %}    
    <h3>No hay productos cargados</h3>
{% endif %}




