{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dS | Pedidos
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'pedido/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    {% include 'core/components/encabezado.html' with titulo_texto="Pedidos" %}
{% endblock titulo %}

{% block main %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<section class="section-pedido-container">
    {% for pedido, pedido_data in pedidos.items %}
    <div class="pedido-container card">
        <div class="encabezado">
            <h3>{{ pedido }}</h3>
            <p {% if pedido_data.datos.estado == "pendiente" or pedido_data.datos.estado == "cancelado" %} style="color: red;" {% elif pedido_data.datos.estado == "reservado" %} style="color: blue;" {% else %} style="color: green;" {% endif %}>{{ pedido_data.datos.estado|upper }}</p>
            <a href="{% url 'pedido:modificar_pedido' pedido %}"><img class="icono-opc" src="{% static 'productos/img/editar.webp' %}" alt="Editar Producto"></a>
        </div>
        <p>Ingreso: {{ pedido_data.datos.hora|slice:"11:16" }}hs</p>
        {% if pedido_data.datos.nombre %}
            <p>Nom: {{ pedido_data.datos.nombre }}</p>
        {% endif %}
        {% if pedido_data.datos.direccion %}
            <p>Dir: {{ pedido_data.datos.direccion }}</p>
        {% endif %}
        {% if pedido_data.datos.observacion %}
            <p>Obs: {{ pedido_data.datos.observacion }}</p>
        {% endif %}
        
        <div class="producto-pedido-container">
            {% for producto_id, producto_data in pedido_data.items %}
                {% if producto_id != 'datos' and producto_id != 'empanadas' %}
                    <div class="producto-pedido">
                        {% if producto_data.categoria == "Pizzas" %}
                            <p class="prod-cant">{{ producto_data.cantidad }}</p>
                        {% else %}
                            <p class="prod-cant">{{ producto_data.cantidad|stringformat:"0.f"  }}</p>
                        {% endif %}                    
                        <p class="prod-det">{{ producto_data.nombre }}</p>
                    </div> 
                {% endif %}
            {% endfor %}
        </div>
        <div class="total-container">
            <p>{{ pedido_data.datos.forma_entrega }}</p>
            <p {% if pedido_data.datos.pago == "cobrar" %} style="color: red;" {% else %} style="color: black;" {% endif %}>{{ pedido_data.datos.pago|upper }}</p>
            <h3>${{ pedido_data.datos.total }}</h3>
        </div>
    </div>
    {% endfor %}
</section>

{% endblock main %}