/* index.html */
.section-pedido-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3%;
    row-gap: 6%;
    justify-content: center;
}
.pedido-container {
    width: 29.33%;
    height: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.encabezado {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2%;
}
.producto-pedido-container {
    width: 100%;
    height: 50%;
    border: 1px solid #bdc3c7;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.producto-pedido {
    width: 100%;
    display: flex;
    padding-left: 5%;  
}
.prod-cant {
    width: 15%;
    text-align: center;
}
.prod-det {
    width: 80%;
    padding-left: 5%;
}

.total-container{
    padding-top: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}