{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    dS | Facturación
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'facturas/css/styles.css' %}">
{% endblock css %}

{% block titulo %}
    {% include 'core/components/encabezado.html' with titulo_texto="Facturación" %}
{% endblock titulo %}

{% block main %}
<div class="facturas-totales card">
    <h3>Efectivo: ${{caja_efectivo}}</h3>
    <p>|</p>
    <h3>Mercado: ${{caja_mercado}}</h3>
    <p>|</p>
    <h3>Naranja: ${{caja_naranja}}</h3>
    <p>|</p>
    <h3>Total: $ {{caja_total}}</h3>
</div>

{% for factura in facturas %}
    <div class="facturas-detalle">
        <p class="facturas-detalle-pedido">Factura {{ factura.id }}</p>
        <p class="facturas-detalle-pedido">{{ factura.fecha|date:"d/m/Y" }}</p>
        <p class="facturas-detalle-pedido">{{ factura.forma_pago|upper }}</p>
        <p class="facturas-detalle-pedido">${{ factura.pago }}</p>

        <button onclick="toggleProductos('{{ factura.id }}')" class="facturas-detalle-icono">
            <img class="icono-opc" src="{% static 'facturas/img/lupa.webp' %}" alt="Detalle Factura">
        </button>
    </div>

    <div id="productos-{{ factura.id }}" class="card productos-factura" style="display: none;">
        {% for producto in productos_factura %}
            {% if factura.id == producto.factura.id %}
                <p class="productos-detalles">{{ producto.cantidad }} {{ producto.producto }}</p>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="facturas-hr-container">
        <hr class="facturas-hr">  
    </div>
{% endfor %}

<script src="{% static 'facturas/js/visualizar_productos.js' %}"></script>

{% endblock main %}
